.about_intern {
  background: url('../img/bg-sobre.jpg') no-repeat center;
  background-size: cover;
}

.about_mission {
  padding-top: 60px;
}

.about_mission p {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 1em;
  padding-right: 60px;
}

.about_mission ul li {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 35px;
}

.team_photo {
  padding-top: 20px;
}
