/*Estilos Gerais
Cores padrões: amarelo - fec63e, preto - 000000, branco - ffffff
*/

body {
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
  line-height: 20px;
}

img {
  display: block;
  max-width: 100%;
}

.btn {
  border: 3px solid #fec63e;
  padding: 10px 25px;
  color: #fec63e;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.btn:hover {
  color: #fff;
  border-color: #fff;
}

.btn.black_btn:hover {
  color: #000;
  border-color: #000;
}

.subtitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: #000;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.subtitle:after {
  content: '';
  display: block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: 8px auto;
}

.subtitle_intern {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.1em;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subtitle_intern:after {
  content: '';
  display: block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: 8px 0;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fec63e;
  padding: 15px 0;
  z-index: 10;
}

.header_menu {
  text-align: right;
}

.header_menu ul li {
  display: inline-block;
  margin-left: 25px;
  margin-top: 22px;
}

.header_menu ul li a {
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 14px;
  line-height: 20px;
  padding: 10px 2px;
}

.header_menu ul li a:hover {
  color: #fff;
}

.header_menu ul li a.menu_ativo {
  color: #fff;
}

/* Introdução interna */
.introduction_intern {
  width: 100%;
  margin-top: 92px;
  height: 160px;
  text-align: center;
  color: #fff;
  padding-top: 35px;
}

.introduction_intern h1 {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.introduction_intern h1:after {
  content: '';
  display: block;
  width: 60px;
  height: 3px;
  background: #fff;
  margin: 6px auto 10px auto;
}

/* Introdução */
.introduction {
  width: 100%;
  height: 380px;
  background: url('../img/bg-intro.jpg') no-repeat center;
  background-size: cover;
  margin-top: 92px;
  text-align: center;
  padding-top: 80px;
}

.introduction h1 {
  font-size: 48px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.quote_ext {
  max-width: 320px;
  margin: 0 auto;
  color: #fff;
  margin-bottom: 50px;
}

.quote_ext p {
  font-style: italic;
}

.quote_ext p:before,
.quote_ext p:after {
  content: '';
  display: block;
  width: 60px;
  height: 3px;
  background: #fff;
  margin: 14px auto 10px auto;
}

.quote_ext cite {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.1em;
}

/* Produtos */
.products {
  padding: 30px 0 50px 0;
}

.list_products li {
  background: #fec63e;
  text-align: center;
}

.list_products li img {
  margin: 0 auto;
}

.list_products li h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 15px;
}

.list_products li h3:after {
  content: '';
  display: block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: 2px auto;
}

.list_products li p {
  padding: 10px 20px 20px 20px;
}

.icons_products {
  background: #000;
  padding: 20px;
}

.icons_products img {
  margin: 0 auto;
}

.call {
  padding-top: 30px;
  text-align: center;
  clear: both;
}

.call p {
  margin-bottom: 20px;
}

/*  Portfólio */
.portfolio {
  width: 100%;
  background: #000;
  padding: 30px 0 50px 0;
}

.portfolio .subtitle {
  color: #fec63e;
}

.portfolio .subtitle:after {
  background: #fec63e;
}

.list_portfolio li:last-child {
  margin-top: 20px;
}

.portfolio .call p {
  color: #fff;
}

/* Qualidade */
.quality {
  padding: 30px 0 50px 0;
}

.quality:after {
  content: '';
  width: 634px;
  height: 83px;
  display: block;
  background: url('../img/linhas.svg');
  position: absolute;
  right: 162px;
  top: 169px;
  z-index: -1;
}

.quality img {
  margin: 0px auto;
}

.list_quality {
  padding-top: 20px;
  overflow: auto;
}

.list_quality li {
  text-align: center;
  padding: 0 40px;
}

.list_quality li h3 {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-top: 15px;
}

.list_quality li h3:after {
  content: '';
  display: block;
  width: 60px;
  height: 3px;
  background: #000;
  margin: 6px auto;
}

/* Quebra */
.quebra {
  width: 100%;
  height: 220px;
  background: url('../img/bg-footer.jpg') no-repeat center;
  background-size: cover;
  text-align: center;
  padding-top: 45px;
}

.quebra .quote_ext {
  max-width: 400px;
}

/* Footer */
.footer {
  width: 100%;
  background: #000;
  color: #fff;
  padding: 30px 0 20px 0;
}

.footer h3 {
  font-size: 18px;
  line-height: 25px;
  color: #fec63e;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: bold;
}

.footer h3:after {
  content: '';
  display: block;
  width: 60px;
  height: 3px;
  background: #fec63e;
  margin: 6px 0 12px 0;
}

.footer_historia {
  padding-right: 45px;
}

.footer_contato ul li {
  font-size: 14px;
  line-height: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer_redes ul li {
  display: inline-block;
  margin-right: 10px;
}

.footer_redes ul li a {
  border: 3px solid #fec63e;
  display: block;
  padding: 10px;
}

.footer_redes ul li a:hover {
  border-color: #fff;
}

.copy {
  width: 100%;
  background: #fec63e;
  padding: 17px 0;
}
